<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <div>
        ABOUT PAGE
        <a href="/">LINK TO HOME PAGE</a>
    </div>
    <!-- <%- include('./partials/footer.ejs') %> -->
</body>
</html>