<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <div class="details-content">
        <h2><%= gem.title %></h2>
        <div class="content">
            <p><%= gem.desc %></p>
        </div>
        <!-- <a class="delete" data-doc="<%= gem._id %>">Delete</a> -->
    </div>
</body>
</html>